<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; E-Club 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/entrepreneursclub.bangladesh/">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
          Made with
        <i class="fa fa-heart heart"></i>
          by <a href="https://www.nexkraft.com/">NexKraft</a>
      </div>
    </div>
  </div>
</footer>
